/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Reset */
/* Box-sizing border-box */
*, *:before, *:after{
	box-sizing: border-box;
}

body,html{
	width: 100%;
	height: 100%;
	font-size: 20px;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
	background: rgb(70, 104, 145) url(img/background_buildings.png) center no-repeat;
	background-size: cover;
}
body::before{
	content: "";
	display: block;
	z-index: -1;
	position: absolute;
	width: 100%;
	min-height: 100%;
	background-color: rgba(0,0,0,0.4);
}
.container{
	width: 70%;
	max-width: 980px;
	margin: 0 auto;
	min-height: 100%;
	padding: 1em 0 2em;
}
.text-center{
	text-align: center;
}
.flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.shadow{
	box-shadow: 2px 2px 7px rgba(0,0,0, 0.5);
}
/* Header */
header{
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
h1{
	font-family: 'Pacifico', cursive;
	font-size: 2.7em;
	font-size: 4vw;
	color: #5629ab;
	text-shadow: 0 0 20px #e2e2e2;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 85%;
	        flex: 1 1 85%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.logo{
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 15%;
	        flex: 1 1 15%;;
	margin-left: 0;
}
.logo img{
	max-width: 100%;
	margin-left: 2em;
}

	/* Search input*/
.search, .buttons{
	-webkit-box-flex:1;
	    -ms-flex:1 1 100%;
	        flex:1 1 100%;
}
.search{
	margin: 2em 0;
}
.search input{
	width: 30%;
	min-width: 205px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	padding: 0.3em 0.3em 0.3em 1em;
	font-size: 0.7em;
	font-weight: bold;
	background-color: rgba(255,255,255,0.3);
	border-color: transparent;
	border-radius: 1em;
}
.search input:focus{
	width: 50%;
	min-width: 205px;
	outline: 0;
}
	/* Styling placeholder*/
::-webkit-input-placeholder {color: #656565;}
::-moz-placeholder          {color: #656565;}/* Firefox 19+ */
:-moz-placeholder           {color: #656565;}/* Firefox 18- */
:-ms-input-placeholder{color: #656565;}

input[placeholder]          {text-overflow:ellipsis;}
input::-moz-placeholder     {text-overflow:ellipsis;}
input:-moz-placeholder      {text-overflow:ellipsis;}
input:-ms-input-placeholder {text-overflow:ellipsis;}


	/* Buttons*/
.buttons div{
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	padding: 3%;
	margin-right: 0.3%;
	background-color: #6262d0;
	font-size: 1.3em;
	text-shadow: 0 0 5px rgba(0,0,0, 0.5);
	-webkit-transition: opacity 1s,-webkit-box-flex 0.7s;
	transition: opacity 1s,-webkit-box-flex 0.7s;
	transition: flex 0.7s,opacity 1s;
	transition: flex 0.7s,opacity 1s,-webkit-box-flex 0.7s,-ms-flex 0.7s;
	overflow: hidden;
	position: relative;
}
.buttons div span{
	position: absolute;
	opacity: 0;
	-webkit-transform: translateY(-200%);
	transform: translateY(-200%);
	-webkit-transition: -webkit-transform 0.5s;
	transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	transition: transform 0.5s, -webkit-transform 0.5s;
}
.buttons div:hover{
	color: #5629ab;
	font-weight: bold;
	text-shadow: 0 0 20px #e2e2e2;
}
.buttons .active{
	background-color: rgba(255,255,255, 0.4);
	-webkit-box-flex: 4;
	    -ms-flex: 4;
	        flex: 4;
	color: #5629ab;
	font-weight: bold;
	text-shadow: 0 0 20px #e2e2e2;
}
.buttons div.active.channels span{
	opacity: 1;
	-webkit-transform: translateY(0);
	        transform: translateY(0);
	-webkit-transform: translateX(5%);
	        transform: translateX(5%);
}
.buttons div:last-child{
	margin-right: 0;
}
/* Main */
main{
	background-color: rgba(255,255,255, 0.4);
}
main ul{
	padding-top: 2.5%;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
main li{
	-ms-flex-preferred-size: 45%;
	    flex-basis: 45%;
	margin-left: 3.3%;
	margin-bottom: 2.5%;
	border: 2px red solid;
}
/* Footer */
footer{
	margin-top: -23px;
}

@media screen and (max-width: 991px){
	.container{
		width: 80%;
	}
    h1 {
    	font-size: 2.3em;
        font-size: 5vw;
    }
	.buttons div{
		font-size: 1em;
	}
}

@media screen and (max-width: 767px){
	.container{
		width: 95%;
	}
    h1 {
        font-size: 2em;
        font-size: 6vw;
    }
	main li{
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 100%;
		        flex: 1 1 100%;
		margin-right: 3.3% ;
	}
}

@media screen and (max-width: 480px){
	.logo{
		display: none;
	}
	h1 {
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 100%;
		        flex: 1 1 100%;
        font-size: 1.4em;
        font-size: 7vw;
    }
    .search{
		margin: 1em 0;
	}
	.buttons{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.buttons div{
		margin: 0;
	}
    .buttons div:hover, .buttons .active{
    	-webkit-box-flex: 1;
    	    -ms-flex: 1;
    	        flex: 1;
    }
    .buttons .active{
    	-webkit-box-ordinal-group: 5;
    	    -ms-flex-order: 4;
    	        order: 4;
    }
	.buttons div span{
	position: static;
	opacity: 1;
	}
    footer{
    	font-size: 0.6em;
    }
}