/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Reset */
/* Box-sizing border-box */
*, *:before, *:after{
	box-sizing: border-box;
}

body,html{
	width: 100%;
	height: 100%;
	font-size: 20px;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
	background: rgb(70, 104, 145) url(img/background_buildings.png) center;
	background-size: cover;
}
body::before{
	content: "";
	display: block;
	z-index: -1;
	position: absolute;
	width: 100%;
	min-height: 100%;
	background-color: rgba(0,0,0,0.3);
}
.container{
	width: 70%;
	max-width: 980px;
	margin: 0 auto;
	min-height: 100%;
	padding: 1em 0 2em;
}
.text-center{
	text-align: center;
}
.flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
/* Header */
header{
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
h1{
	font-family: 'Pacifico', cursive;
	font-size: 2.7em;
	font-size: 4vw;
	color: #5629ab;
	text-shadow: 0 0 20px #e2e2e2;
	width: 85%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.logo{
	width: calc(15% - 2em);
	margin-left: 2em;
}
.logo img{
	max-width: 100%;
}

	/* Search input*/
.search, .buttons{
	width: 100%;
}
.search{
	margin: 1em 0;
}
.search input{
	width: 30%;
	min-width: 205px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	padding: 0.3em 0 0.3em 1em;
	border-color: transparent;
	border-radius: 1em;
	box-shadow: 2px 2px 7px rgba(0,0,0, 0.5);
}
.search input:focus{
	width: 50%;
	min-width: 205px;
	outline: 0;
}

	/* Buttons*/
.buttons div{
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	padding: 5%;
	margin-right: 0.3%;
	background-color: #6262d0;
	font-size: 1.2em;
	text-shadow: 0 0 5px rgba(0,0,0, 0.5);
	box-shadow: 2px 2px 7px rgba(0,0,0, 0.5);
	-webkit-transition: font-size 0.7s,opacity 1s, -webkit-box-flex 0.7s;
	transition: font-size 0.7s,opacity 1s, -webkit-box-flex 0.7s;
	transition: flex 0.7s, font-size 0.7s,opacity 1s;
	transition: flex 0.7s, font-size 0.7s,opacity 1s, -webkit-box-flex 0.7s, -ms-flex 0.7s;
	overflow: hidden;
}
.buttons span{
	display: none;
	opacity: 0;
}
.buttons div:hover{
	background-color: rgba(255,255,255, 0.3);
	-webkit-box-flex: 4;
	    -ms-flex: 4;
	        flex: 4;
	color: white;
	text-shadow: 2px 2px 5px rgba(0,0,0, 0.9);
}
.buttons div:hover span{
	display: inline-block;
	opacity: 1;
}
.buttons div:last-child{
	margin-right: 0;
}
/* Main */
main{
	background-color: rgba(255,255,255, 0.3);
}
/* Footer */
footer{
	margin-top: -23px;
}

@media screen and (max-width: 991px){
	.container{
		width: 80%;
	}
    h1 {
    	font-size: 2.3em;
        font-size: 5vw;
    }
}

@media screen and (max-width: 767px){
	.container{
		width: 95%;
	}
    h1 {
        font-size: 2em;
        font-size: 6vw;
    }
}

@media screen and (max-width: 480px){
	.logo{
		display: none;
	}
	h1 {
		width: 100%;
        font-size: 1.4em;
        font-size: 7vw;
    }
	.buttons{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.buttons div{
		margin: 0;
	}
    .buttons div:hover{
    	-webkit-box-flex: 1;
    	    -ms-flex: 1;
    	        flex: 1;
    }
    footer{
    	font-size: 0.6em;
    }
}